################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/LingoIA/config/applicationhost.config
/.vs/LingoIA/copilot-chat/4e593358/sessions/c95ad5f7-3da7-4ea2-90e5-3ada4a7c0b7b
/.vs/LingoIA/CopilotIndices/17.14.260.54502/CodeChunks.db
/.vs/LingoIA/CopilotIndices/17.14.260.54502/SemanticSymbols.db
/.vs/LingoIA/DesignTimeBuild/.dtbcache.v2
/.vs/LingoIA/FileContentIndex/2fbcecd3-091f-4d51-9b8c-5976e9027c0d.vsidx
/.vs/LingoIA/v17/.futdcache.v2
/.vs/LingoIA/v17/.suo
/.vs/LingoIA/v17/DocumentLayout.backup.json
/.vs/LingoIA/v17/DocumentLayout.json
/.vs/NetFramework/CopilotIndices/17.14.260.54502/CodeChunks.db
/.vs/NetFramework/CopilotIndices/17.14.260.54502/SemanticSymbols.db
/.vs/NetFramework/FileContentIndex/ca9ba007-f945-43f4-94b4-80378dcfe45d.vsidx
/.vs/NetFramework/FileContentIndex/f193adc1-3756-4a88-a854-4e52a3c0e1e8.vsidx
/.vs/NetFramework/v17/.wsuo
/.vs/NetFramework/v17/DocumentLayout.backup.json
/.vs/NetFramework/v17/DocumentLayout.json
/.vs/NetFramework/v17/workspaceFileList.bin
/.vs/ProjectEvaluation/lingoia.metadata.v9.bin
/.vs/ProjectEvaluation/lingoia.projects.v9.bin
/.vs/ProjectEvaluation/lingoia.strings.v9.bin
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/LingoIA.API/bin/Debug/net9.0/LingoIA.API.deps.json
/LingoIA.API/bin/Debug/net9.0/LingoIA.API.dll
/LingoIA.API/bin/Debug/net9.0/LingoIA.API.exe
/LingoIA.API/bin/Debug/net9.0/LingoIA.API.pdb
/LingoIA.API/bin/Debug/net9.0/LingoIA.Application.dll
/LingoIA.API/bin/Debug/net9.0/LingoIA.Application.pdb
/LingoIA.API/bin/Debug/net9.0/LingoIA.Domain.dll
/LingoIA.API/bin/Debug/net9.0/LingoIA.Domain.pdb
/LingoIA.API/bin/Debug/net9.0/LingoIA.Infrastructure.dll
/LingoIA.API/bin/Debug/net9.0/LingoIA.Infrastructure.pdb
/LingoIA.API/LingoIA.API.csproj.user
/LingoIA.API/obj/Debug/net9.0/ApiEndpoints.json
/LingoIA.API/obj/Debug/net9.0/apphost.exe
/LingoIA.API/obj/Debug/net9.0/EndpointInfo/LingoIA.API.json
/LingoIA.API/obj/Debug/net9.0/EndpointInfo/LingoIA.API.OpenApiFiles.cache
/LingoIA.API/obj/Debug/net9.0/LingoIA.API.AssemblyInfo.cs
/LingoIA.API/obj/Debug/net9.0/LingoIA.API.AssemblyInfoInputs.cache
/LingoIA.API/obj/Debug/net9.0/LingoIA.API.assets.cache
/LingoIA.API/obj/Debug/net9.0/LingoIA.API.csproj.AssemblyReference.cache
/LingoIA.API/obj/Debug/net9.0/LingoIA.API.csproj.BuildWithSkipAnalyzers
/LingoIA.API/obj/Debug/net9.0/LingoIA.API.csproj.CoreCompileInputs.cache
/LingoIA.API/obj/Debug/net9.0/LingoIA.API.csproj.FileListAbsolute.txt
/LingoIA.API/obj/Debug/net9.0/LingoIA.API.dll
/LingoIA.API/obj/Debug/net9.0/LingoIA.API.GeneratedMSBuildEditorConfig.editorconfig
/LingoIA.API/obj/Debug/net9.0/LingoIA.API.genruntimeconfig.cache
/LingoIA.API/obj/Debug/net9.0/LingoIA.API.MvcApplicationPartsAssemblyInfo.cs
/LingoIA.API/obj/Debug/net9.0/LingoIA.API.pdb
/LingoIA.API/obj/Debug/net9.0/LingoIA.API.sourcelink.json
/LingoIA.API/obj/Debug/net9.0/ref/LingoIA.API.dll
/LingoIA.API/obj/Debug/net9.0/refint/LingoIA.API.dll
/LingoIA.API/obj/Debug/net9.0/staticwebassets/msbuild.buildMultiTargeting.LingoIA.API.props
/LingoIA.API/obj/Debug/net9.0/staticwebassets/msbuild.buildTransitive.LingoIA.API.props
/LingoIA.API/obj/Debug/net9.0/staticwebassets.references.upToDateCheck.txt
/LingoIA.API/obj/Debug/net9.0/staticwebassets.removed.txt
/LingoIA.API/obj/LingoIA.API.csproj.nuget.dgspec.json
/LingoIA.API/obj/LingoIA.API.csproj.nuget.g.props
/LingoIA.API/obj/LingoIA.API.csproj.nuget.g.targets
/LingoIA.API/obj/project.assets.json
/LingoIA.API/obj/project.nuget.cache
/LingoIA.API/obj/Release/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/LingoIA.API/obj/Release/net9.0/LingoIA.API.AssemblyInfo.cs
/LingoIA.API/obj/Release/net9.0/LingoIA.API.AssemblyInfoInputs.cache
/LingoIA.API/obj/Release/net9.0/LingoIA.API.assets.cache
/LingoIA.API/obj/Release/net9.0/LingoIA.API.csproj.AssemblyReference.cache
/LingoIA.API/obj/Release/net9.0/LingoIA.API.GeneratedMSBuildEditorConfig.editorconfig
/LingoIA.API/obj/Release/net9.0/LingoIA.API.GlobalUsings.g.cs
/LingoIA.Application/bin/Debug/net9.0/LingoIA.Application.deps.json
/LingoIA.Application/bin/Debug/net9.0/LingoIA.Application.dll
/LingoIA.Application/bin/Debug/net9.0/LingoIA.Application.pdb
/LingoIA.Application/bin/Debug/net9.0/LingoIA.Domain.dll
/LingoIA.Application/bin/Debug/net9.0/LingoIA.Domain.pdb
/LingoIA.Application/bin/Debug/net9.0/LingoIA.Infrastructure.dll
/LingoIA.Application/bin/Debug/net9.0/LingoIA.Infrastructure.pdb
/LingoIA.Application/obj/Debug/net9.0/LingoIA.Application.AssemblyInfo.cs
/LingoIA.Application/obj/Debug/net9.0/LingoIA.Application.AssemblyInfoInputs.cache
/LingoIA.Application/obj/Debug/net9.0/LingoIA.Application.assets.cache
/LingoIA.Application/obj/Debug/net9.0/LingoIA.Application.csproj.AssemblyReference.cache
/LingoIA.Application/obj/Debug/net9.0/LingoIA.Application.csproj.BuildWithSkipAnalyzers
/LingoIA.Application/obj/Debug/net9.0/LingoIA.Application.csproj.CoreCompileInputs.cache
/LingoIA.Application/obj/Debug/net9.0/LingoIA.Application.csproj.FileListAbsolute.txt
/LingoIA.Application/obj/Debug/net9.0/LingoIA.Application.dll
/LingoIA.Application/obj/Debug/net9.0/LingoIA.Application.GeneratedMSBuildEditorConfig.editorconfig
/LingoIA.Application/obj/Debug/net9.0/LingoIA.Application.pdb
/LingoIA.Application/obj/Debug/net9.0/LingoIA.Application.sourcelink.json
/LingoIA.Application/obj/Debug/net9.0/ref/LingoIA.Application.dll
/LingoIA.Application/obj/Debug/net9.0/refint/LingoIA.Application.dll
/LingoIA.Application/obj/LingoIA.Application.csproj.nuget.dgspec.json
/LingoIA.Application/obj/LingoIA.Application.csproj.nuget.g.props
/LingoIA.Application/obj/LingoIA.Application.csproj.nuget.g.targets
/LingoIA.Application/obj/project.assets.json
/LingoIA.Application/obj/project.nuget.cache
/LingoIA.Application/obj/Release/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/LingoIA.Application/obj/Release/net9.0/LingoIA.Application.AssemblyInfo.cs
/LingoIA.Application/obj/Release/net9.0/LingoIA.Application.AssemblyInfoInputs.cache
/LingoIA.Application/obj/Release/net9.0/LingoIA.Application.assets.cache
/LingoIA.Application/obj/Release/net9.0/LingoIA.Application.csproj.AssemblyReference.cache
/LingoIA.Application/obj/Release/net9.0/LingoIA.Application.GeneratedMSBuildEditorConfig.editorconfig
/LingoIA.Application/obj/Release/net9.0/LingoIA.Application.GlobalUsings.g.cs
/LingoIA.Domain/bin/Debug/net9.0/LingoIA.Domain.dll
/LingoIA.Domain/bin/Debug/net9.0/LingoIA.Domain.pdb
/LingoIA.Domain/obj/Debug/net9.0/LingoIA.Domain.AssemblyInfo.cs
/LingoIA.Domain/obj/Debug/net9.0/LingoIA.Domain.AssemblyInfoInputs.cache
/LingoIA.Domain/obj/Debug/net9.0/LingoIA.Domain.assets.cache
/LingoIA.Domain/obj/Debug/net9.0/LingoIA.Domain.csproj.AssemblyReference.cache
/LingoIA.Domain/obj/Debug/net9.0/LingoIA.Domain.csproj.BuildWithSkipAnalyzers
/LingoIA.Domain/obj/Debug/net9.0/LingoIA.Domain.csproj.CoreCompileInputs.cache
/LingoIA.Domain/obj/Debug/net9.0/LingoIA.Domain.csproj.FileListAbsolute.txt
/LingoIA.Domain/obj/Debug/net9.0/LingoIA.Domain.dll
/LingoIA.Domain/obj/Debug/net9.0/LingoIA.Domain.GeneratedMSBuildEditorConfig.editorconfig
/LingoIA.Domain/obj/Debug/net9.0/LingoIA.Domain.pdb
/LingoIA.Domain/obj/Debug/net9.0/LingoIA.Domain.sourcelink.json
/LingoIA.Domain/obj/Debug/net9.0/ref/LingoIA.Domain.dll
/LingoIA.Domain/obj/Debug/net9.0/refint/LingoIA.Domain.dll
/LingoIA.Domain/obj/LingoIA.Domain.csproj.nuget.dgspec.json
/LingoIA.Domain/obj/LingoIA.Domain.csproj.nuget.g.props
/LingoIA.Domain/obj/project.assets.json
/LingoIA.Domain/obj/project.nuget.cache
/LingoIA.Domain/obj/Release/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/LingoIA.Domain/obj/Release/net9.0/LingoIA.Domain.AssemblyInfo.cs
/LingoIA.Domain/obj/Release/net9.0/LingoIA.Domain.AssemblyInfoInputs.cache
/LingoIA.Domain/obj/Release/net9.0/LingoIA.Domain.assets.cache
/LingoIA.Domain/obj/Release/net9.0/LingoIA.Domain.csproj.AssemblyReference.cache
/LingoIA.Domain/obj/Release/net9.0/LingoIA.Domain.GeneratedMSBuildEditorConfig.editorconfig
/LingoIA.Domain/obj/Release/net9.0/LingoIA.Domain.GlobalUsings.g.cs
/LingoIA.Infrastructure/bin/Debug/net9.0/LingoIA.Domain.dll
/LingoIA.Infrastructure/bin/Debug/net9.0/LingoIA.Domain.pdb
/LingoIA.Infrastructure/bin/Debug/net9.0/LingoIA.Infrastructure.deps.json
/LingoIA.Infrastructure/bin/Debug/net9.0/LingoIA.Infrastructure.dll
/LingoIA.Infrastructure/bin/Debug/net9.0/LingoIA.Infrastructure.pdb
/LingoIA.Infrastructure/obj/Debug/net9.0/LingoIA.Infrastructure.AssemblyInfo.cs
/LingoIA.Infrastructure/obj/Debug/net9.0/LingoIA.Infrastructure.AssemblyInfoInputs.cache
/LingoIA.Infrastructure/obj/Debug/net9.0/LingoIA.Infrastructure.assets.cache
/LingoIA.Infrastructure/obj/Debug/net9.0/LingoIA.Infrastructure.csproj.AssemblyReference.cache
/LingoIA.Infrastructure/obj/Debug/net9.0/LingoIA.Infrastructure.csproj.BuildWithSkipAnalyzers
/LingoIA.Infrastructure/obj/Debug/net9.0/LingoIA.Infrastructure.csproj.CoreCompileInputs.cache
/LingoIA.Infrastructure/obj/Debug/net9.0/LingoIA.Infrastructure.csproj.FileListAbsolute.txt
/LingoIA.Infrastructure/obj/Debug/net9.0/LingoIA.Infrastructure.dll
/LingoIA.Infrastructure/obj/Debug/net9.0/LingoIA.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
/LingoIA.Infrastructure/obj/Debug/net9.0/LingoIA.Infrastructure.genruntimeconfig.cache
/LingoIA.Infrastructure/obj/Debug/net9.0/LingoIA.Infrastructure.pdb
/LingoIA.Infrastructure/obj/Debug/net9.0/LingoIA.Infrastructure.sourcelink.json
/LingoIA.Infrastructure/obj/Debug/net9.0/ref/LingoIA.Infrastructure.dll
/LingoIA.Infrastructure/obj/Debug/net9.0/refint/LingoIA.Infrastructure.dll
/LingoIA.Infrastructure/obj/LingoIA.Infrastructure.csproj.nuget.dgspec.json
/LingoIA.Infrastructure/obj/LingoIA.Infrastructure.csproj.nuget.g.props
/LingoIA.Infrastructure/obj/LingoIA.Infrastructure.csproj.nuget.g.targets
/LingoIA.Infrastructure/obj/project.assets.json
/LingoIA.Infrastructure/obj/project.nuget.cache
/LingoIA.Infrastructure/obj/Release/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/LingoIA.Infrastructure/obj/Release/net9.0/LingoIA.Infrastructure.AssemblyInfo.cs
/LingoIA.Infrastructure/obj/Release/net9.0/LingoIA.Infrastructure.AssemblyInfoInputs.cache
/LingoIA.Infrastructure/obj/Release/net9.0/LingoIA.Infrastructure.assets.cache
/LingoIA.Infrastructure/obj/Release/net9.0/LingoIA.Infrastructure.csproj.AssemblyReference.cache
/LingoIA.Infrastructure/obj/Release/net9.0/LingoIA.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
/LingoIA.Infrastructure/obj/Release/net9.0/LingoIA.Infrastructure.GlobalUsings.g.cs
/.vs/LingoIA/CopilotIndices/17.14.260.54502
